#basket {
    -fx-padding: 0 0 0 20;
}

#clearBox {
    -fx-padding: 10 0 0 0;
}

#title {
    -fx-font-size: 36;
    -fx-font-weight: bold;

    -fx-padding: 5 0 10 0;
}

#priceLabel {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#price {
    -fx-font-size: 20;
}

#clearButton {
    -fx-cursor: hand;

    -fx-text-fill: #fff;

    -fx-background-color: #539cd4;
    -fx-background-radius: 0;

    -fx-border-color: #37638f;
    -fx-border-width: 0.75;

    -fx-font-size: 20;
}

#clearButton:hover {
    -fx-background-color: #37638f;
    -fx-effect: innershadow(gaussian, #192d42, 7, 0.8, 0, 0);
}

#priceVAT {
    -fx-padding: 11 0 0 0;
}

#totalPriceBox {
    -fx-padding: 6 0 0 0;
}

#totalPriceLabel {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-underline: true;
}

#totalPrice {
    -fx-font-size: 24;
    -fx-underline: true;
}